# Composer
/vendor/
composer.phar

# PHPUnit
.phpunit.result.cache
.phpunit.cache/

# IDE et éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp
*.swp
*.swo
*~

# Cache
.cache/
